{extend name="common/layout"/}
{block name="head"} {include file="console/head" /}{/block}
{block name="main"}
<div class="content">
  <h2 class="content-heading">{$webTitle}</h2>
  <div class="block block-rounded">
    <div class="block-header block-header-default">
      <h3 class="block-title">
        <strong>1.</strong> 介绍
      </h3>
      <div class="block-options">
        <button type="button" class="btn-block-option">
          <i class="si si-question"></i>
        </button>
      </div>
    </div>
    <div class="block-content block-content-full">
      <div id="faq1" role="tablist" aria-multiselectable="true">
        <div class="block block-bordered block-rounded mb-1">
          <div class="block-header" role="tab" id="faq1_h1">
            <a class="fw-semibold text-body-color-dark" data-bs-toggle="collapse" href="#faq1_q1" aria-expanded="true" aria-controls="faq1_q1">{:config('web.webname')} 有什么<span class="text-primary">作用</span></a>
          </div>
          <div id="faq1_q1" class="collapse show" role="tabpanel" aria-labelledby="faq1_h1" data-bs-parent="#faq1">
            <div class="block-content border-top">
              <p>
                  网易云音乐 <span class="px-2 text-info">每日任务 300首 、音乐人、合伙人任务等</span><br>
                  哔哩哔哩   <span class="px-2 text-info">每日观看视频，投币任务等</span><br>
                  运动助手   <span class="px-2 text-info">vx、zfb 步数任务</span><br>
                  爱奇艺     <span class="px-2 text-info">签到、积分、vip任务等</span><br>
                  百度贴吧   <span class="px-2 text-info">贴吧签到任务</span><br>
                  米游社     <span class="px-2 text-info">米游社任务、原神签到</span><br>
                  扣扣星     <span class="px-2 text-info">空间点赞、说说等</span><br>
				  {if condition="config('sys.is_qqdg') eq 1"}
                  等级加速   <span class="px-2 text-info">QQ等级代练</span><br>
				  {/if}
                  Epic     <span class="px-2 text-info">Epic商城免费游戏通知</span><br>
                  小黑盒     <span class="px-2 text-info">APP每日签到任务</span><br>
                  视频解析     <span class="px-2 text-info">暂只支持抖音解析</span><br>
                  <br>
                  <span class="text-danger">具体任务请登录账号后以实际为准</span>
                  </p>
            </div>
          </div>
        </div>
        <div class="block block-bordered block-rounded mb-1">
          <div class="block-header" role="tab" id="faq1_h2">
            <a class="fw-semibold text-body-color-dark" data-bs-toggle="collapse" href="#faq1_q2" aria-expanded="true" aria-controls="faq1_q2">如何在 {:config('web.webname')} <span class="text-primary">添加账号</span></a>
          </div>
          <div id="faq1_q2" class="collapse" role="tabpanel" aria-labelledby="faq1_h2" data-bs-parent="#faq1">
            <div class="block-content border-top">
               <p>
                   <span class="text-primary">添加账号之前 账号需要拥有配额 若功能为VIP功能则需开启VIP使用</span>
                   <br>
                   <a class="text-danger" href="{:url('/index/console/shop/vip')}">点我购买</a>
                   <br>
                  （1）<span class="text-info">账号密码</span>模式：输入账号和密码即可添加，若无法成功添加请使用扫码模式添加。<br>
                  （2）<span class="text-info">二维码</span>模式：此模式安全、方便快捷，只需手机扫一扫二维码即可成功登陆。
               </p>
            </div>
          </div>
        </div>
        <div class="block block-bordered block-rounded mb-1">
          <div class="block-header" role="tab" id="faq1_h3">
            <a class="fw-semibold text-body-color-dark" data-bs-toggle="collapse" href="#faq1_q3" aria-expanded="true" aria-controls="faq1_q3">管理账号以及账号状态</a>
          </div>
          <div id="faq1_q3" class="collapse" role="tabpanel" aria-labelledby="faq1_h3" data-bs-parent="#faq1">
            <div class="block-content border-top">
              <p>
                  （1）账号添加后如果账号状态失效，请及时更新状态防止功能不运行<br>

                  （2）添加一个账号需要一个配额，开启功能需要VIP，若需要挂更多账号请购买挂机配额，挂机配额为永久使用
                  <br>
                  <a href="{:url('/index/console/shop/quota')}">点我购买</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="block block-rounded">
    <div class="block-header block-header-default">
      <h3 class="block-title">
        <strong>2.</strong> {:config('web.webname')} <span class="text-primary">常见问题</span>
      </h3>
      <div class="block-options">
        <button type="button" class="btn-block-option">
          <i class="si si-question"></i>
        </button>
      </div>
    </div>
    <div class="block-content block-content-full">
      <div id="faq2" role="tablist" aria-multiselectable="true">
        <div class="block block-bordered block-rounded mb-1">
          <div class="block-header" role="tab" id="faq2_h1">
            <a class="fw-semibold text-body-color-dark" data-bs-toggle="collapse" href="#faq2_q1" aria-expanded="true" aria-controls="faq2_q1"><font class="text-primary">忘记</font>了密码/ 想修改密码 怎么办？</a>
          </div>
          <div id="faq2_q1" class="collapse" role="tabpanel" aria-labelledby="faq2_h1" data-bs-parent="#faq2">
            <div class="block-content border-top">
              <p>
                  1.忘记密码 ： 在登录页/注册页 点击找回密码 ， 填写自己的QQ邮箱，输入验证码后点击找回密码，
                    您的邮箱将会收到一封来自 {:config('web.webname')} 的邮件 点击链接重置密码即可。<br>
                  2.修改密码： 在个人资料中 输入原密码 以及新密码 即可更改密码 <br>
                  <a href="{:url('/index/console/user/profile')}">点我修改</a>
              </p>
            </div>
          </div>
        </div>
        <div class="block block-bordered block-rounded mb-1">
          <div class="block-header" role="tab" id="faq2_h2">
            <a class="fw-semibold text-body-color-dark" data-bs-toggle="collapse" href="#faq2_q2" aria-expanded="true" aria-controls="faq2_q2">为什么功能没有运行?</a>
          </div>
          <div id="faq2_q2" class="collapse" role="tabpanel" aria-labelledby="faq2_h2" data-bs-parent="#faq2">
            <div class="block-content border-top">
              <p>
                  请检查账号状态是否失效，之后查看<span class="text-danger">日志</span>以及功能运行时间是否正常，<br>
                  若任务没有运行或没有完成 请点击<span class="text-primary">补挂</span>按钮。<br>
                  若有疑问 请联系站长反馈<br>
                  <a target="_blank" href="https://wpa.qq.com/msgrd?v=3&uin={:config('web.user_qq')}&site=qq&menu=yes">点我联系</a>
              </p>
            </div>
          </div>
        </div>
        <div class="block block-bordered block-rounded mb-1">
          <div class="block-header" role="tab" id="faq2_h3">
            <a class="fw-semibold text-body-color-dark" data-bs-toggle="collapse" href="#faq2_q3" aria-expanded="true" aria-controls="faq2_q3">网易云<span class="text-primary">音乐人任务</span>如何配置?</a>
          </div>
          <div id="faq2_q3" class="collapse" role="tabpanel" aria-labelledby="faq2_h3" data-bs-parent="#faq2">
            <div class="block-content border-top">
              <p>
                  歌曲ID ：填写你自己歌曲的ID，用于发布[主创说]，[回复粉丝评论] <br>
                  获取歌曲ID ： 打开自己的歌曲页面 点击歌曲链接分享 <br>
                  例如：https://music.163.com/#/song?id=488249475 <哪里都是你> ID 为 488249475<br><br>
                  
                  粉丝ID ：打开粉丝主页 点击分享 复制链接 <br>
                  例如：https://music.163.com/#/user/home?id=70436671 <队长> ID为 70436671 <br>
                  <span class="text-danger">提醒：如果粉丝也是音乐人 那么链接中的userid为粉丝ID</span>
                  <br><br>
                  
                  私信内容：输入框中填写对粉丝私信的内容 如不填 <span class="text-primary">默认为你好</span>
              </p>
            </div>
          </div>
        </div>
        <div class="block block-bordered block-rounded mb-1">
          <div class="block-header" role="tab" id="faq2_h4">
            <a class="fw-semibold text-body-color-dark" data-bs-toggle="collapse" href="#faq2_q4" aria-expanded="true" aria-controls="faq2_q4"><span class="text-primary">网易云小工具</span>如何使用?</a>
          </div>
          <div id="faq2_q4" class="collapse" role="tabpanel" aria-labelledby="faq2_h4" data-bs-parent="#faq2">
            <div class="block-content border-top">
              <p>
                  获取歌曲ID ： 打开歌曲页面 点击歌曲链接分享 <br>
                  例如：https://music.163.com/#/song?id=488249475 <哪里都是你> ID 为 488249475<br><br>
                  播放次数 ： <span class="text-danger">请勿输入过大的次数</span> 否则将会弹出错误 建议 1 ~ 1000 <span class="text-primary">请结合实际测试</span>
                  </p>
            </div>
          </div>
        </div>
       <div class="block block-bordered block-rounded mb-1">
          <div class="block-header" role="tab" id="faq2_h5">
            <a class="fw-semibold text-body-color-dark" data-bs-toggle="collapse" href="#faq2_q5" aria-expanded="true" aria-controls="faq2_q5"><span class="text-primary">哔哩哔哩</span>如何配置?</a>
          </div>
          <div id="faq2_q5" class="collapse" role="tabpanel" aria-labelledby="faq2_h5" data-bs-parent="#faq2">
            <div class="block-content border-top">
              <p>
                  全局配置 ：填写直播间ID，用于[全局直播间ID，适用于：弹幕、礼物、心跳] <br>
                  获取ID ： 打开哔哩哔哩直播 https://live.bilibili.com/ 点进直播间后链接后的数字为直播间ID<br>
                  例如：https://live.bilibili.com/24668903  ID 为 24668903<br><br>
                  
                  每日投币配置 ：投币渠道 分为两种 随机热门/关注列表 <br>
                  投币个数为 1-5 <br>
                  <span class="text-danger">提醒：每日上限5个视频(需5个硬币)</span>
              </p>
            </div>
          </div>
        </div>
      <div class="block block-bordered block-rounded mb-1">
          <div class="block-header" role="tab" id="faq2_h6">
            <a class="fw-semibold text-body-color-dark" data-bs-toggle="collapse" href="#faq2_q6" aria-expanded="true" aria-controls="faq2_q6"><span class="text-primary">运动助手</span>如何配置?</a>
          </div>
          <div id="faq2_q6" class="collapse" role="tabpanel" aria-labelledby="faq2_h6" data-bs-parent="#faq2">
            <div class="block-content border-top">
              <p>
                  步数开始 ：填写步数开始的数字 <br>
                  例如：20000<br><br>
                  步数结束 ：填写步数结束的数字<br>
                  例如：30000 <br><br>
                  <span class="text-danger">提醒：将在此步数范围随机，若未设置将系统在20000-30000步随机生成，步数结果需要大于或等于开始步数不能高于98000，最低步数必须比当前步数大，记得在小米运动里面绑定微信或支付宝</span>
              </p>
            </div>
          </div>
        </div>
      <div class="block block-bordered block-rounded mb-1">
          <div class="block-header" role="tab" id="faq2_h7">
            <a class="fw-semibold text-body-color-dark" data-bs-toggle="collapse" href="#faq2_q7" aria-expanded="true" aria-controls="faq2_q7"><span class="text-primary">扣扣星</span>相关说明</a>
          </div>
          <div id="faq2_q7" class="collapse" role="tabpanel" aria-labelledby="faq2_h7" data-bs-parent="#faq2">
            <div class="block-content border-top">
              <p>
                星赞 ： <空间说说点赞> 开启后可<span class="text-primary">自动点赞</span>
                <br>
                可选择<span class="text-danger">不赞</span>某QQ<br><br>
                
                星评 ： <空间说说评论> 开启后可<span class="text-primary">自动评论</span>
                支持<span class="text-primary">[彩虹屁]</span>标签 <br>
                可选择<span class="text-danger">不评论</span>某QQ<br><br>
                  
                星说 ： <空间自动说说> 说说内容自定义 支持<span class="text-primary">[网易云热评]、[舔狗日记]</span>标签 <br>
                可以 选择同时<span class="text-danger">删除上一条说说</span><br><br>
                
                QQ状态总<span class="text-danger">失效</span>怎么办？<br>
                我们提供了五个登录地区供用户选择 分别为 <span class="text-primary">四川省/上海市/福建省/北京市/广东省 </span><br>
                用户可以选择就近地区登录，避免登陆地点IP不稳定<br>
                {if condition="config('sys.login_system_type') eq 1"}
                请尽量开启<span class="text-danger">设备锁</span>进行密码登录<br>
                密码登录可以实现<span class="text-danger">自动更新QQ状态</span> 24小时不间断秒赞，彻底解放双手。<br>
                密码登录一天限制 <span class="text-danger">{:config('sys.login_system_iplimit')} 次</span> 请勿频繁登录
                {/if}
                <br>频繁失效可以试着<span class="text-danger">先关闭</span>星评、星说功能

                {if condition="config('sys.is_qqdg') eq 1"}
                <br><br>QQ等级代练<br>
                 开通等级代练功能之后 需要<span class="text-primary">再次登录</span> 请选择IP常用地挂机地区<br>
                 若账号状态异常请及时更新账号 <span class="text-danger">异常则不会进行代练</span><br>
                 正常状态点击执行挂机功能开始挂机 没有加速也是<span class="text-primary">点击执行挂机补挂</span><br>
                 若正常状态也没有执行代练 <span class="text-danger">则更新挂机之后修改挂机时间再点击执行挂机即可</span><br>
                {/if}
              </p>
            </div>
          </div>
        </div>
          <div class="block block-bordered block-rounded mb-1">
              <div class="block-header" role="tab" id="faq2_h8">
                  <a class="fw-semibold text-body-color-dark" data-bs-toggle="collapse" href="#faq2_q8" aria-expanded="true" aria-controls="faq2_q8"><span class="text-primary">小黑盒</span>相关说明</a>
              </div>
              <div id="faq2_q8" class="collapse" role="tabpanel" aria-labelledby="faq2_h6" data-bs-parent="#faq2">
                  <div class="block-content border-top">
                      <p>
                          如果登录出现账户ID不能为空 原因是没有设置用户昵称 去小黑盒App设置一下用户昵称即可
                      </p>
                  </div>
              </div>
          </div>
          <div class="block block-bordered block-rounded mb-1">
              <div class="block-header" role="tab" id="faq2_h9">
                  <a class="fw-semibold text-body-color-dark" data-bs-toggle="collapse" href="#faq2_q9" aria-expanded="true" aria-controls="faq2_q9"><span class="text-primary">Epic商城</span>相关说明</a>
              </div>
              <div id="faq2_q9" class="collapse" role="tabpanel" aria-labelledby="faq2_h9" data-bs-parent="#faq2">
                  <div class="block-content border-top">
                      <p>
                          Epic每周都可以免费领取游戏 我们Epic的功能是输入邮箱提醒通知新的免费游戏上架
                      </p>
                  </div>
              </div>
          </div>
          <div class="block block-bordered block-rounded mb-1">
              <div class="block-header" role="tab" id="faq2_h10">
                  <a class="fw-semibold text-body-color-dark" data-bs-toggle="collapse" href="#faq2_q10" aria-expanded="true" aria-controls="faq2_q10"><span class="text-primary">视频解析</span>相关说明</a>
              </div>
              <div id="faq2_q10" class="collapse" role="tabpanel" aria-labelledby="faq2_h10" data-bs-parent="#faq2">
                  <div class="block-content border-top">
                      <p>
                          视频解析功能暂只支持抖音解析 其他平台敬请期待
                          出现解析失败 请多重新解析几遍
                      </p>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
  <div class="block block-rounded">
    <div class="block-header block-header-default">
      <h3 class="block-title">
        <strong>3.</strong> 其他类说明
      </h3>
      <div class="block-options">
        <button type="button" class="btn-block-option">
          <i class="si si-question"></i>
        </button>
      </div>
    </div>
    <div class="block-content block-content-full">
      <div id="faq3" role="tablist" aria-multiselectable="true">
        <div class="block block-bordered block-rounded mb-1">
          <div class="block-header" role="tab" id="faq3_h1">
            <a class="fw-semibold text-body-color-dark" data-bs-toggle="collapse" href="#faq3_q1" aria-expanded="true" aria-controls="faq3_q1">代理问题说明</a>
          </div>
          <div id="faq3_q1" class="collapse" role="tabpanel" aria-labelledby="faq3_h1" data-bs-parent="#faq3">
            <div class="block-content border-top">
                <p>
                      代理商分为三个级别 分别为 银牌代理/金牌代理/钻石代理 <span class="text-danger">等级越高则折扣力度越大</span><br>
                     代理商可以<span class="text-primary">低价</span>在后台提取卡密信息卖给客户，从中赚取差价。
                     <br><br>
                     <span class="text-danger">开通金牌代理商和钻石代理商可生成低于当前等级的代理卡密。</span>
                     <br><br>
                     <a class="text-danger" href="{:url('/index/console/shop/agent')}">点我购买</a>
                </p>
            </div>
          </div>
        </div>
        <div class="block block-bordered block-rounded mb-1">
          <div class="block-header" role="tab" id="faq3_h2">
            <a class="fw-semibold text-body-color-dark" data-bs-toggle="collapse" href="#faq3_q2" aria-expanded="true" aria-controls="faq3_q2">分站问题说明</a>
          </div>
          <div id="faq3_q2" class="collapse" role="tabpanel" aria-labelledby="faq3_h2" data-bs-parent="#faq3">
            <div class="block-content border-top">
                <p>
                    1、分站和主站的各个功能都是一样的，除了可以后台一些主要的功能之外，<span class="text-danger">没有其他任何区别</span>。
                    <br>
                    2、分站是一个<span class="text-danger">独立</span>的站点，有整个网站的控制权利，打造属于自己的网站 站长可管理自己的用户。
                       <br>
                    3、分站拥有独立的代理系统功能，可以设置价格，<span class="text-danger">网站的收入完全100%到您的账户</span>，主站不收任何提成。
                    
                </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{/block}