<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
    <title>{:config('web.webname')} - {:config('web.title')}</title>
    <meta content="{:config('web.keywords')}" name="keywords">
    <meta content="{:config('web.description')}" name="description">
    <link href="/favicon.ico" rel="shortcut icon">
    <!--    <link href="/static/media/favicons/favicon-192x192.png" rel="icon" sizes="192x192" type="image/png">-->
    <!--    <link href="/static/media/favicons/apple-touch-icon-180x180.png" rel="apple-touch-icon" sizes="180x180">-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap" rel="stylesheet">
    <link href="/static/css/codebase.min-5.0.css" id="css-main" rel="stylesheet">
    <link href="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-0-M/nprogress/0.2.0/nprogress.min.css" rel="stylesheet">
</head>
<body>
<div class="main-content-boxed" id="page-container">
    <main id="main-container">
        <div class="bg-body-dark">
            <div class="row mx-0 justify-content-center">
                <div class="hero-static col-lg-6 col-xl-4">
                    <div class="content content-full overflow-hidden">
                        <div class="py-4 text-center">
                            <a class="link-fx fw-bold" href="{:url('index/index')}">
                                <i class="fa fa-fire"></i>
                                <span class="fs-4 text-body-color">{:config('web.webname')}</span>
                            </a>
                            <h1 class="h3 fw-bold mt-4 mb-2">现在，重置你的密码</h1>
                            <h2 class="h5 fw-medium text-muted mb-0">欢迎回来</h2>
                        </div>
                        <form class="js-validation-reminder" onsubmit="return false;">
                            <div class="block block-themed block-rounded block-fx-shadow">
                                <div class="block-header bg-elegance-light">
                                    <h3 class="block-title">重新设置密码</h3>
                                </div>
                                <div class="block-content">
                                    <div class="form-floating mb-4">
                                        <input type="text" class="form-control" id="password" name="password" placeholder="输入你的新密码">
                                        <label class="form-label" for="password">新密码</label>
                                    </div>
                                    <div class="form-floating mb-4">
                                        <input type="text" class="form-control" id="repass" name="repass" placeholder="请确认你的密码">
                                        <label class="form-label" for="repass">确认密码</label>
                                    </div>

                                    <div class="text-center mb-4">
                                        <button onclick="ajax_user_reset();" type="submit" class="btn btn-lg btn-alt-primary fw-semibold">
                                            确认重置密码
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<script src="/static/js/codebase.app.min-5.0.js"></script>
<script src="/static/js/lib/jquery.min.js"></script>
<script src="/static/js/plugins/jquery-validation/jquery.validate.min.js"></script>
<script src="/static/js/plugins/bootstrap-notify/bootstrap-notify.min.js"></script>
<script src="https://lf9-cdn-tos.bytecdntp.com/cdn/expire-0-M/nprogress/0.2.0/nprogress.min.js"></script>
<script src="/static/js/app.min.js"></script>
<script src="/static/js/layer.js"></script>
<script>
    function ajax_user_reset() {
        var password = x.getval('#password', '请输入新密码');
        if (!password) return;
        var repass = x.getval('#repass', '请确认新密码');
        if (!repass) return;
        x.ajax('/index/LoginAjax/reset', {
            password: password,
            repass: repass,
            mail:"{$mail}",
            token:"{$_GET['token']}",
        }, function (data) {
            if (data.code == 1) {
                x.notify(data.message, 'success');
                setTimeout(function () {
                    window.location.href = "{:url('console/index')}";
                }, 1000);
            } else {
                x.notify(data.message, 'warning');
            }
        });
    }
</script>
</body>
</html>