{extend name="common/layout"/}
{block name="head"} {include file="console/head" /}{/block}
{block name="main"}
<div class="row">
    <div class="col-md-6">
        <div class="block block-rounded h-100 mb-0">
            <div class="block-header block-header-default">
                <h3 class="block-title">账号密码添加（请使用网易云音乐账号登录）</h3>
            </div>
            <div class="block-content">
                <form onsubmit="return false;" id="login-form">
                    <div class="mb-4">
                        <label class="form-label" for="login-username">手机号</label>
                        <div class="input-group">
                            <span class="input-group-text">
                              <i class="far fa-user"></i>
                            </span>
                            <input type="text" class="form-control" id="login-username" name="login-username" placeholder="请输入手机号">
                        </div>
                    </div>
                    <div class="mb-4">
                        <label class="form-label" for="login-password">密码</label>
                        <div class="input-group">
                            <span class="input-group-text">
                              <i class="far fa-surprise"></i>
                            </span>
                            <input type="password" class="form-control" id="login-password" name="login-password" placeholder="请输入密码">
                        </div>
                    </div>

                    <div class="mb-4">
                        <button type="submit" class="btn btn-alt-primary" onclick="ajax_netease_login();">
                            <i class="fa fa-arrow-right opacity-50 me-1"></i> 登录
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="block block-rounded h-100 mb-0">
            <div class="block-header block-header-default">
                <h3 class="block-title">扫码添加</h3>
                <div class="block-options">
                    <button type="button" class="btn btn-sm btn-outline-primary" onclick="ajax_netease_qrlogin();">扫码完成，点击验证</button>
                </div>
            </div>
            <div class="block-content text-center">
                <div class="alert alert-primary d-flex align-items-center" role="alert">
                    <i class="si si-magic-wand me-2"></i>
                    <p class="mb-0" id="qr-alert">点击图片即可获取二维码</p>
                </div>
                <div class="block" id="qr-img" key="">
                    <p class="mt-4">
                        <i class="si si-camera fa-4x text-muted"></i>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="foot"}
<script>
    function ajax_netease_login()
    {
        var username = x.getval('#login-username', '请先输入手机号！');
        if (!username) return;
        var password = x.getval('#login-password', '请先输入密码！');
        if (!password) return;
        x.ajax('/index/ajax/netease/add', {
            username: username,
            password: password,
        }, function (data) {
            if (data.code == 1) {
                x.notify(data.message, 'success');
                setTimeout(function () {
                    // x.pjax('{:url("/index/console/netease/list")}');
                    window.location.href = '{:url("/index/console/netease/list")}';
                }, 1000)
            } else {
                x.notify(data.message, 'warning');
            }
        })
    }

    $('#qr-img').click(function () {
        x.ajax('/index/ajax/netease/getQrimg',null ,function (data) {
            if (data.code == 1) {
                $('#qr-img').attr('key', data.data.key);
                $('#qr-img').html('<img src="data:image/png;base64,'+ data.data.qrimg +'" height="145px;">');
            }
        })
        Codebase.block('state_normal', '#qr-img');
    });

    function ajax_netease_qrlogin() {
        var key = $('#qr-img').attr('key');
        if (!key) return x.notify('请先获取二维码');
        x.ajax('/index/ajax/netease/qrLogin', {
            key: key,
        }, function (data) {
            if(data.code == 1) {
                x.notify(data.message, 'success');
                setTimeout(function () {
                    window.location.href = "{:url(\"/index/console/netease/list\")}";
                }, 1000)
            } else if (data.code == 800) {
                $('#qr-img').click();
            } else {
                x.notify(data.message, 'warning')
                $('#qr-alert').html(data.message);
            }
        })
    }

    $(function(){
        Codebase.block('state_loading', '#qr-img');
    });

</script>
{/block}

