{extend name="common/layout"/}
{block name="head"} {include file="system/head" /}{/block}
{block name="main"}
<style>
    th,td {
        white-space: nowrap;
    }
</style>


<div class="block block-rounded">
    <div class="block-header block-header-default">
        <h3 class="block-title">{$webTitle}</h3>
    </div>
    <div class="block-content block-content-full">
        <div class="col-lg-12 space-y-2">
            <div class="row row-cols-lg-auto g-3 align-items-center">
                <div class="col-4">
                    <label class="visually-hidden">用户UID</label>
                    <input type="number" class="form-control" id="search-uid" placeholder="用户UID">
                </div>
                <div class="col-4">
                    <label class="visually-hidden">账号ID</label>
                    <input type="number" class="form-control" id="search-user_id" placeholder="账号ID">
                </div>
                <div class="col-4">
                    <select class="form-select" id="search-status">
                        <option selected="" value="">帐号状态</option>
                        <option value="1">正常</option>
                        <option value="0">失效</option>
                    </select>
                </div>
                <div>
                    <button type="submit" class="btn btn-alt-primary" onclick="table_search();">
                        <i class="fa fa-search me-1"></i> 查询
                    </button>
                </div>
            </div>
        </div>
        <table class="table table-bordered table-striped table-vcenter js-dataTable-responsive" id="accounts-list">
        </table>
    </div>
</div>
{/block}
{block name="foot"}
<script src="/static/js/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/js/plugins/datatables-bs5/js/dataTables.bootstrap5.min.js"></script>

<script src="/static/js/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/static/js/plugins/datatables-responsive-bs5/js/responsive.bootstrap5.min.js"></script>

<script src="/static/js/admin_accountList_datatables.js"></script>
{/block}