{extend name="common/layout"/}
{block name="head"} {include file="system/head" /}{/block}
{block name="main"}
<div class="block block-rounded">
    <div class="block-header block-header-default">
        <h3 class="block-title"> 订单记录 </h3>
    </div>
    <div class="block-content block-content-full">
            <div class="col-sm-12">
                <table class="table table-bordered table-striped table-vcenter js-dataTable-responsive" id="admin-order" style="white-space: nowrap;">
                </table>
            </div>
    </div>
</div>
{/block}
{block name="foot"}
<script src="/static/js/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/js/plugins/datatables-bs5/js/dataTables.bootstrap5.min.js"></script>
<script src="/static/js/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/static/js/plugins/datatables-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
<script src="/static/js/plugins/datatables-buttons/dataTables.buttons.min.js"></script>
<script src="/static/js/plugins/datatables-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
<script src="/static/js/admin_order_datatables.js"></script>
{/block}