{extend name="common/layout"/}
{block name="head"} {include file="system/head" /}{/block}
{block name="main"}
<div class="block block-rounded">
    <div class="block-header block-header-default">
        <h3 class="block-title">{$webTitle}</h3>
        <div class="mb-0">
            <button type="submit" class="btn btn-sm btn-alt-primary" onclick="ajax_edit_config();">
                <i class="fa fa-save opacity-50 me-1"></i> 保存
            </button>
        </div>
    </div>
    <div class="block-content">
        <form onsubmit="return false;" id="quota-form">
            <div class="row push">
                <div class="col-lg-4">
                    <p class="text-muted">
                        你可以在这里配置配额价格
                    </p>
                    <span class="text-danger">单位（元）</span>
                </div>
                <div class="col-lg-8 col-xl-5">
                    <div class="mb-4">
                        <label class="form-label" for="quota_price_1">一个配额：</label>
                        <input type="text" class="form-control" id="quota_price_1" name="quota_price_1" value="{:config('sys.quota_price_1')}" placeholder="一个配额">
                    </div>
                    <div class="mb-4">
                        <label class="form-label" for="quota_price_2">三个配额：</label>
                        <input type="text" class="form-control" id="quota_price_2" name="quota_price_2" value="{:config('sys.quota_price_2')}" placeholder="三个配额">
                    </div>
                    <div class="mb-4">
                        <label class="form-label" for="quota_price_3">五个配额：</label>
                        <input type="text" class="form-control" id="quota_price_3" name="quota_price_3" value="{:config('sys.quota_price_3')}" placeholder="五个配额">
                    </div>
                    <div class="mb-4">
                        <label class="form-label" for="quota_price_4">十个配额：</label>
                        <input type="text" class="form-control" id="quota_price_4" name="quota_price_4" value="{:config('sys.quota_price_4')}" placeholder="十个配额">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{/block}
{block name="foot"}
<script>
    function ajax_edit_config() {
        x.ajax('/admin/ajax/set/config', $('#quota-form').serialize(), function (data) {
            if (data.code == 1) {
                x.notify(data.message, 'success');
            } else {
                x.notify(data.message, 'warning');
            }
        })
    }
</script>
{/block}